<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.leekm.android.dynamiclib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="top.leekm.android.dynamiclib.DynamicActivity"
            android:theme="@style/DynamicSdkStyle"></activity>
    </application>

</manifest>
